
a {
        color: #999999;
        font-family: "Segoe UI";
        font-size: 25px;
        text-decoration: none;
        margin-left: 5px;
        margin-right: 5px;
        transition-property: color;
        transition-duration: .1s;
        transition-timing-function: linear;
        display:inline-block
}

span {
        margin-left: 10px;
        margin-right: 10px;
        text-family: "Segoe UI";
        text-align: center;
}

a:hover {
		color: #5f5f65
}

input[type=text] {
        width: 18px;
        padding: 3px;
        position: absolute;
        right: 5px; bottom: 5px;
        border: 1px solid #e6e6e6;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
        color: #999999;
		background-position: -2px -1px;
		background-image: url('http://i.imgur.com/ziSic3u.png');
		background-repeat: no-repeat;
}

input[type=text]:hover {
        border-color: #999999;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
        color: #999999;
		width: 230px;
		background-position: 227px -1px;
		padding-right: 20px;
}
input[type=text]:focus {
        border-color: #999999;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
        color: #999999;
		width: 230px;
		background-position: 227px -1px;
		padding-right: 20px;
}

.boxed {
        border: 1px solid #e6e6e6;
        padding: 5px;
        color: #494949;
        background-color: #ffffff;
        width: 760px;
        margin-left: -390px;
        margin-right: auto;
        position: absolute;
        left: 50%;
		top: 40%;
}

h1 {
      padding-bottom: -600px;
	  position: absolute;
	  visibility: hidden;
	  margin-top: -150px;
	  left: 38%;
	  top: 40%;
	  font-family: Segoe UI;
	  font-weight: 100;
	  font-size: 80px;
	  color: #888888;
}

.label{
	font-size: 30px;
	font-weight: 400;
	color: #444444;

}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.boxer {
   display: table;
   border-collapse: collapse;
   width: 760px;

}



.box-row-labels{
	width:108px;
}

.box-row-arrow{
	width:20px;
}

.box-row-links{
	width:630px;
}

.boxer .box {
   display: table-cell;
   text-align: left;
   vertical-align: top;
   border: 1px solid black;

}
.container {
  display: table;
  margin-bottom: 5px;
}
.row {
  display: table-row;
  border: 1px;
  width: 300px;
}
.column {
  display: table-cell;
  width: 100px;

}


.box-column-labels{
    display: table-cell;
    /*min-width:140px;
    max-width:200px;*/
	.unselectable;
}

.box-column-arrow{
    display: table-cell;
    width:20px;
}

.box-column-links{
    display: table-cell;
    width:630px;
    padding-left:10px
}

#main_box{
    padding-bottom: 30px;
    margin-bottom: 100px;
}
